@model Garage1.ViewModel.IndexViewModel

@{
    ViewBag.Title = "Index";
}



<header>
    <h2>Parked Vehicles</h2>
    @Html.ActionLink("Check In", "Create", null, new { @class= "btn btn-primary"})
    <div class="parked-vehicles-options">
        <div class="btn-group">

            <input type="text" />
            <a class="btn btn-danger" href="#">Check Out</a>
        </div>

    </div>
</header>
    


@if (Model.Feedback)
{
    string divClass;
    if (Model.Success) {
        divClass = "success";
    } else{
        divClass = "danger";
    }
    <div class="alert alert-@divClass alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <p>@Model.Message</p>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vehicles[0].RegNummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicles[0].VehicleType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicles[0].Manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicles[0].Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicles[0].Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicles[0].CheckInTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Vehicles) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegNummer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckInTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RegNummer }, new { @class="btn btn-success"})
            @Html.ActionLink("Details", "Details", new { id = item.RegNummer }, new { @class = "btn btn-primary"})
            @Html.ActionLink("Check Out", "Delete", new { id = item.RegNummer }, new { @class = "btn btn-danger"})
        </td>
    </tr>
}

</table>
