@model IEnumerable<Garage1.Models.ParkedVehicle>

@{
    ViewBag.Title = "Index";
}



<header>
    <h2>Parked Vehicles</h2>
    <div class="btn btn-primary">@Html.ActionLink("Check In", "Create")</div>
</header>
    
<div class="parked-vehicles-options">
    <div class="btn-group">
        <input type="text" />
        <div class="btn btn-danger"><a href="#">Check Out</a></div>
    </div>
    
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegNummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckInTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegNummer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckInTime)
        </td>
        <td>
            <div class="btn btn-success">@Html.ActionLink("Edit", "Edit", new { id=item.RegNummer })</div>
            <div class="btn btn-primary">@Html.ActionLink("Details", "Details", new { id = item.RegNummer })</div>
            <div class="btn btn-danger">@Html.ActionLink("Check Out", "Delete", new { id = item.RegNummer })</div>
        </td>
    </tr>
}

</table>
