@model Garage1.ViewModel.ReceiptViewModel

@{
    ViewBag.Title = "Receipts";
}



<div class="data">
    <div class="data-date">
        <p>@DateTime.Now.ToString("dd/MM/yyyy")</p>
    </div>
    <div class="data-row">
        <p class="data-title">Garage Parking AB</p>
        <p>StreetName xx</p>
        <p>City</p>
    </div>
    <br />
    <div class="data-row">
        <div class="data-heading">@Model.Vehicle.Manufacturer</div>
    </div>
    <br />
    <div class="data-row">
        <div class="data-title">Parked </div>
        <div class="data-body">@Model.Vehicle.CheckInTime</div>
    </div>
    <br />
    <div class="data-row">
        <div class="data-title">Checked Out </div>
        <div class="data-body">@DateTime.Now</div>
    </div>

    <div class="data-row">
        <div class="data-title">@Html.DisplayNameFor(m => m.Vehicle.Licens) </div>
        <div class="data-body">@Model.Vehicle.Licens</div>
    </div>

    <div class="data-row">
        <div class="data-title">@Html.DisplayNameFor(m => m.Vehicle.Model) </div>
        <div class="data-body">@Model.Vehicle.Model</div>
    </div>

    <div class="data-row">
        <div class="data-title">@Html.DisplayNameFor(m => m.Vehicle.Color) </div>
        <div class="data-body">@Model.Vehicle.Color</div>
    </div>


    @{ 
        TimeSpan timeParked = DateTime.Now - Model.Vehicle.CheckInTime;
    }

    <div class="data-row">
        <div class="data-title">Time Parked </div>
        <div class="data-body">
            @if (timeParked.Days > 0) { @timeParked.Days @Html.Raw("Days");} 
            @if (timeParked.Hours > 0) { @timeParked.Hours @Html.Raw(" Hours");} 
            @if (timeParked.Minutes > 0) { @timeParked.Minutes @Html.Raw(" Minutes");}
            @if (timeParked.Seconds > 0) { @timeParked.Seconds @Html.Raw(" Seconds"); }
        </div>
    </div>

    <div class="data-row">
        <div class="data-title">Cost </div>
        <div class="data-body text-danger"> <span>@(timeParked.TotalSeconds * 60) </span>kr</div>
    </div>

</div>

@Html.ActionLink("Back", "index", null, new { @class = "btn btn-primary"})